<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.app02.dao.extend.ClazzVMMapper">

	<!-- 查询全部 -->
	<select id="findAllClazzVM" resultMap="ClazzVMResultMap">
		select * from poll_clazz
	</select>

	<!-- 按照Id查询 -->
	<select id="findClazzVMById" parameterType="long" resultMap="ClazzVMResultMap">
		select *
		from poll_clazz where id = #{id}
	</select>

	<resultMap type="com.briup.app02.vm.ClazzVM" id="ClazzVMResultMap">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="description" property="description" />
		<association column="grade_id" property="grade"
			select="com.briup.app02.dao.GradeMapper.findById">
		</association>
		<association column="user_id" property="user"
			select="com.briup.app02.dao.UserMapper.findById">
		</association>

	</resultMap>







</mapper>