<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.app02.dao.extend.QqVMMapper">

	<!-- 按照Question_id查询 -->
	<select id="findQuestionnaireVMByQuestionId" parameterType="long"
		resultType="com.briup.app02.bean.Questionnaire">
		select * from poll_qq where question_id = #{question_id}
	</select>

	<!-- 按照Questionnaire_id查询 -->
	<select id="findQuestionVMByQuestionnaireId" parameterType="long"
		resultMap="QqVMQuestionResultMap">
		select * from poll_qq where questionnaire_id =
		#{id}
	</select>


	<resultMap type="com.briup.app02.vm.QqVM" id="QqVMQuestionResultMap">
		<association column="question_id" property="questionVMs"
			select="com.briup.app02.dao.extend.QuestionVMMapper.findQuestionVMById">
		</association>


	</resultMap>





</mapper>