<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.app02.dao.QuestionMapper">

	<!-- 查询全部 -->
	<select id="findAll" resultType="com.briup.app02.bean.Question">
		select * from poll_question
	</select>

	<!-- 按照Id查询 -->
	<select id="findById" parameterType="long"
		resultType="com.briup.app02.bean.Question">
		select *
		from poll_question where id = #{id}
	</select>

	<!-- 按照Id删除 -->
	<delete id="deleteById" parameterType="long">
		delete from
		poll_question
		where id = #{id}
	</delete>

	<!-- 更新信息 -->
	<update id="update" parameterType="com.briup.app02.bean.Question">
		update poll_question set
		name =
		#{name},
		questiontype = #{questiontype}
		where id =
		#{id}
	</update>

	<!-- 添加 -->
	<insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="com.briup.app02.bean.Question">
		insert into poll_question
		values
		(null,#{name},#{questiontype})
	</insert>


</mapper>