<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.app02.dao.SchoolMapper">

	<!-- 查询全部 -->
	<select id="findAll" resultType="com.briup.app02.bean.School">
		select * from poll_school
	</select>

	<!-- 按照Id查询 -->
	<select id="findById" parameterType="long"
		resultType="com.briup.app02.bean.School">
		select * from poll_school where id = #{id}
	</select>

	<!-- 按照Id删除 -->
	<delete id="deleteById" parameterType="long">
		delete from poll_school
		where id = #{id}
	</delete>

	<!-- 更新信息 -->
	<update id="update" parameterType="com.briup.app02.bean.School">
		update poll_school set
		name =
		#{name},
		description = #{description},
		address = #{address},
		telephone =
		#{telephone},
		copyright = #{copyright}
		where id = #{id}
	</update>

	<!-- 添加 -->
	<insert id="save" parameterType="com.briup.app02.bean.School">
		insert into poll_school
		values
		(null,#{name},#{description},#{address},#{telephone},#{copyright})
	</insert>


</mapper>